# How to create Pyhton Pandas Dataframe

In [2]:
import pandas as pd

In [3]:
empty= pd.DataFrame
print(empty)

<class 'pandas.core.frame.DataFrame'>

In [4]:
list= ['a', 'b', 'c']
print(list)

['a', 'b', 'c']

In [5]:
#combines list to dataframes
df= pd.DataFrame(list)
print(df)

   0
0  a
1  b
2  c

In [6]:
df

   0
0  a
1  b
2  c

In [11]:
ls= [[1,2,3],[4,5,6],[7,8,9]]
print(ls)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [12]:
df1= pd.DataFrame(ls)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [13]:
#dictionary 
dict= {'ID': [11,22,33,44]}
dict

{'ID': [11, 22, 33, 44]}

In [21]:
Dict = {1: ['Geeks'], 2: ['For'], 3: ['Geeks']}
Dict

{1: ['Geeks'], 2: ['For'], 3: ['Geeks']}

In [18]:
d= pd.DataFrame(dict)
d

   ID
0  11
1  22
2  33
3  44

In [22]:
d1= pd.DataFrame(Dict)
d1

       1    2      3
0  Geeks  For  Geeks

In [31]:
# creating list of dictionaries
dic1= [{'A': [1,2,3,4], 'B': [5,6,7,8], 'C': [9,0,1,2]}]
dic1

[{'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 0, 1, 2]}]

In [32]:
dd= pd.DataFrame(dic1)
dd

              A             B             C
0  [1, 2, 3, 4]  [5, 6, 7, 8]  [9, 0, 1, 2]