# Pandas loc & iloc

loc

In [11]:
import pandas as pd

In [12]:
f= pd.read_csv('C:\\PythonPractice\\Fortune_20.csv')
f

   Student ID  Class  Study Hrs  Social Media  usage hrs  Percentage
0        1001     10          2                        3          50
1        1002     10          6                        2          80
2        1003     10          3                        2          60
3        1004     11          0                        1          45
4        1005     12          5                        2          75

In [13]:
# gives value of row with col_name in column wise manner
f.loc[0]

Student ID                 1001
Class                        10
Study Hrs                     2
Social Media  usage hrs       3
Percentage                   50
Name: 0, dtype: int64

In [14]:
f.loc[[1,3]]

   Student ID  Class  Study Hrs  Social Media  usage hrs  Percentage
1        1002     10          6                        2          80
3        1004     11          0                        1          45

In [15]:
# if we want particular value then
f.loc[4, 'Class']

12

In [16]:
# 0 to 3 value of col 'Class'
f.loc[:4, 'Class']

0    10
1    10
2    10
3    11
4    12
Name: Class, dtype: int64

In [17]:
f.loc[f['Class']< 11]

   Student ID  Class  Study Hrs  Social Media  usage hrs  Percentage
0        1001     10          2                        3          50
1        1002     10          6                        2          80
2        1003     10          3                        2          60

In [18]:
f.loc[f['Class']< 11, ['Percentage']]

   Percentage
0          50
1          80
2          60

iloc

In [19]:
# gives value of whole row with col_name in row wise manner
f.iloc[[0]]

   Student ID  Class  Study Hrs  Social Media  usage hrs  Percentage
0        1001     10          2                        3          50

In [22]:
f.iloc[[0,4]]

   Student ID  Class  Study Hrs  Social Media  usage hrs  Percentage
0        1001     10          2                        3          50
4        1005     12          5                        2          75