# Pandas GroupBy

In [2]:
import pandas as pd

In [3]:
f= pd.read_csv('C:\\PythonPractice\\Fortune_20.csv')
f

   Student ID  Class  Study Hrs  Social Media  usage hrs  Percentage
0        1001     10          2                        3          50
1        1002     10          6                        2          80
2        1003     10          3                        2          60
3        1004     11          0                        1          45
4        1005     12          5                        2          75

In [4]:
# makes groups and uses col_name to make grp
grp1= f.groupby(by= 'Class')
grp1

In [5]:
grp1.groups

{10: [0, 1, 2], 11: [3], 12: [4]}

In [6]:
f.groupby(['Class', 'Class']).groups

{(10, 10): [0, 1, 2], (11, 11): [3], (12, 12): [4]}

In [7]:
list(grp1)

[(10,
     Student ID  Class  Study Hrs  Social Media  usage hrs  Percentage
  0        1001     10          2                        3          50
  1        1002     10          6                        2          80
  2        1003     10          3                        2          60),
 (11,
     Student ID  Class  Study Hrs  Social Media  usage hrs  Percentage
  3        1004     11          0                        1          45),
 (12,
     Student ID  Class  Study Hrs  Social Media  usage hrs  Percentage
  4        1005     12          5                        2          75)]

In [9]:
dict(list(grp1))

{10:    Student ID  Class  Study Hrs  Social Media  usage hrs  Percentage
 0        1001     10          2                        3          50
 1        1002     10          6                        2          80
 2        1003     10          3                        2          60,
 11:    Student ID  Class  Study Hrs  Social Media  usage hrs  Percentage
 3        1004     11          0                        1          45,
 12:    Student ID  Class  Study Hrs  Social Media  usage hrs  Percentage
 4        1005     12          5                        2          75}

In [11]:
grp2 =f.groupby('Class').get_group(10)
grp2

   Student ID  Class  Study Hrs  Social Media  usage hrs  Percentage
0        1001     10          2                        3          50
1        1002     10          6                        2          80
2        1003     10          3                        2          60

In [12]:
grp2.describe()

       Student ID  Class  Study Hrs  Social Media  usage hrs  Percentage
count         3.0    3.0   3.000000                 3.000000    3.000000
mean       1002.0   10.0   3.666667                 2.333333   63.333333
std           1.0    0.0   2.081666                 0.577350   15.275252
min        1001.0   10.0   2.000000                 2.000000   50.000000
25%        1001.5   10.0   2.500000                 2.000000   55.000000
50%        1002.0   10.0   3.000000                 2.000000   60.000000
75%        1002.5   10.0   4.500000                 2.500000   70.000000
max        1003.0   10.0   6.000000                 3.000000   80.000000

: