# Pandas Merge Fucntion

merge function merges dataframes

In [1]:
import pandas as pd

In [2]:
df1= pd.DataFrame({'ID': [1,2,3,4], 'Class': [5,6,7,8]})
df1

   ID  Class
0   1      5
1   2      6
2   3      7
3   4      8

In [3]:
df2= pd.DataFrame({'ID': [1,2,3,4], 'Name': ['A','B','C','D']})
df2

   ID Name
0   1    A
1   2    B
2   3    C
3   4    D

In [4]:
# we use on='ID' becoz its the only similar key in both dataframes
pd.merge(df1, df2, on='ID')

   ID  Class Name
0   1      5    A
1   2      6    B
2   3      7    C
3   4      8    D

In [5]:
# 'ID' is not same.
df3= pd.DataFrame({'ID': [1,2,3,5], 'Name': ['A','B','C','D']})
pd.merge(df1, df3, on='ID')
# only prints rows with same ID values

   ID  Class Name
0   1      5    A
1   2      6    B
2   3      7    C

In [6]:
# how -> used to specify in what way you want to print merged dataframe
# left - according to left dataframe
# right -
# inner - default
# outer - all values
pd.merge(df1, df3, on='ID', how='outer')

   ID  Class Name
0   1    5.0    A
1   2    6.0    B
2   3    7.0    C
3   4    8.0  NaN
4   5    NaN    D