# Pandas replace()

In [12]:
import pandas as pd

In [14]:
f= pd.read_csv('C:\\PythonPractice\\Fortune_10.csv')
f

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [15]:
f.replace(to_replace= 'Health', value='Finance')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Finance,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,Techdrill,Finance,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,6,Techline,Finance,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,7,Cityace,Finance,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Finance,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [16]:
f.replace('Health', 'Finance')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Finance,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,Techdrill,Finance,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,6,Techline,Finance,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,7,Cityace,Finance,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Finance,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [17]:
f.replace(10,15)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,15,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [18]:
f.replace([1,2,3,4,5,6,7,8,9,10], 0)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,0,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,0,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,0,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,0,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,0,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,0,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [19]:
f.replace([1,2,3,4,5,6,7,8,9,10], [11,12,13,14,15,16,17,18,19,20])

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,11,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,12,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,13,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,14,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,15,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,16,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,17,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,18,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,19,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,20,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [20]:
f.replace({'Industry': 'Health'}, None)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,None,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,Techdrill,None,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,6,Techline,None,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,7,Cityace,None,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,None,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [23]:
f.replace({'Industry': 'Health', 'Growth': '7%'}, None)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,None,2012,"$10,597,009","7,591,189 Dollars",3005820,None
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,None
4,5,Techdrill,None,2009,"$10,573,990","7,435,363 Dollars",3138627,None
5,6,Techline,None,2006,"$13,898,119","5,470,303 Dollars",8427816,None
6,7,Cityace,None,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,None,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,None